In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('../Datasets/2025-05_jagr-cost-export-standard-00001.csv')
data1.head()

C:\Users\diyan\AppData\Local\Temp\ipykernel_39500\1791079654.py:1: DtypeWarning: Columns (28,38,39,42) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('../Datasets/2025-05_jagr-cost-export-standard-00001.csv')

,bill_bill_type,bill_billing_entity,bill_billing_period_end_date,bill_billing_period_start_date,bill_invoice_id,bill_invoicing_entity,bill_payer_account_id,bill_payer_account_name,cost_category,discount,...,split_line_item_net_split_cost,split_line_item_net_unused_cost,split_line_item_parent_resource_id,split_line_item_public_on_demand_split_cost,split_line_item_public_on_demand_unused_cost,split_line_item_reserved_usage,split_line_item_split_cost,split_line_item_split_usage,split_line_item_split_usage_ratio,split_line_item_unused_cost
0,Anniversary,AWS,2025-06-01T00:00:00.000Z,2025-05-01T00:00:00.000Z,NaN,"Amazon Web Services, Inc.",171404033541,bgid_aws2,{},{},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anniversary,AWS,2025-06-01T00:00:00.000Z,2025-05-01T00:00:00.000Z,NaN,"Amazon Web Services, Inc.",171404033541,bgid_aws2,{},{},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anniversary,AWS,2025-06-01T00:00:00.000Z,2025-05-01T00:00:00.000Z,NaN,"Amazon Web Services, Inc.",171404033541,bgid_aws2,{},{},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Anniversary,AWS,2025-06-01T00:00:00.000Z,2025-05-01T00:00:00.000Z,NaN,"Amazon Web Services, Inc.",171404033541,bgid_aws2,{},{},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anniversary,AWS,2025-06-01T00:00:00.000Z,2025-05-01T00:00:00.000Z,NaN,"Amazon Web Services, Inc.",171404033541,bgid_aws2,{},{},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694489 entries, 0 to 694488
Columns: 125 entries, bill_bill_type to split_line_item_unused_cost
dtypes: float64(65), int64(2), object(58)
memory usage: 662.3+ MB